/*Style Police*/
@font-face {
    font-family: 'Pacifico';
    src: url("../polices/Pacifico.ttf");
    font-weight: normal;
    font-style: normal;
}

/*Reset*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Page Accueil*/

body {
    font-family: 'pacifico', sans-serif;
    font-size: large;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: darkgray;
    color: firebrick;
}

header h1 {
    font-family: 'Pacifico',sans-serif;
    font-size: 3em;
    margin: 0;
}

header h2 {
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5em;
    margin-top: 0;
}

h1 a {
    text-decoration: none;
    color: firebrick;
}

ul {
    display: flex;
    justify-content: space-around;
    background-color:white;
    font-family: 'Arial', sans-serif;
    height: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    color: black;
}

nav {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: black;
}

#content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    background-color: white;
    width: 300px;
    margin: 30px;
    padding-bottom: 20px;
}

.product p {
    margin-top: 0;
}

.product h3 {
    margin-bottom: 10px;
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5em;
}

.product_detail h3 {
    margin-bottom: 10px;
    font-family: 'Pacifico', sans-serif;
    font-size: 2em;
}

img {
    width: 100%;
}

.product img {
    width: 100%;
    height: 200px;
}

footer {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: darkgray;
}

footer nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    font-family: 'Pacifico', sans-serif;
    color: firebrick;
    font-size: 1.3em;
}

footer nav p {
    margin: 0;
}

/*Page Produit*/

.product_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: solid 1px black;
    margin: 3%;
    padding: 3%;
    background-color: white;
    font-family: 'Arial', sans-serif;
}

.product_detail p {
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

select {
    height: fit-content;
    margin-left: 10px;
}

button {
    margin: 20px;
}

/*Page Panier*/

tr {
    display: flex;
    align-items: flex-start;
}

#content_table {
    width: 100%;
}

#content h3 {
    font-size: xx-large;
    margin: 5px;
}

#cart_count {
    display: inline-block;
    text-align: center;
    background-color: #f10;
    color: white;
    font-weight: 700;
    font-size: 13px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    margin-left: 5px;
}

article {
    display: flex;
    justify-content: space-between;
    border: 3px black outset;
    margin: 10px;
    padding: 5px;
}

article img { 
    width: 30%;
}

#prix {
    display: none;
}

#total_price {
    width: 100%;
    text-align: center;
    font-size: x-large;
}
#total_price p {
    margin: 0;
}

article div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article div h4 {
    margin : 0;
    font-size: larger;    
}

button, .product form input {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

/*Mise en page formulaire*/

#formulaire {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    flex-direction: column;
    background-color: darkgray;
    border-radius: 20px;
    margin-bottom: 30px; 
    margin-top: 30px;
}

#formulaire h3 {
    font-size: larger;

}
#form_name {
      width: 100%;
      display: flex;
      align-items: center;
      margin: auto; 
}
#form_name label {
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center; 
}
#form_name input {
        width: 60%; 
}
#form_lastname {
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center; 
}
#form_lastname label {
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center; 
}
#form_lastname input {
        width: 60%; 
}
#form_email {
      width: 100%;
      display: flex;
      align-items: center;
      margin: auto; 
}
#form_email label {
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center; 
}
#form_email input {
        width: 60%; 
}
#form_address {
      width: 100%;
      display: flex;
      align-items: center;
      margin: auto; 
}
#form_address label {
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center; 
}
#form_address input {
        width: 60%; 
}
#form_city {
      width: 100%;
      display: flex;
      align-items: center;
      margin: auto; 
}
#form_city label {
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center; 
}
#form_city input {
        width: 60%; 
}
#formulaire form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%; 
}
#formulaire input {
      margin: 10px; 
}

#confirm {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    flex-direction: column;
    background-color: darkgray;
    border-radius: 20px;
    margin-bottom: 30px; 
    margin-top: 30px;
}