/*Style Police*/
@font-face {
    font-family: 'Pacifico';
    src: url("../polices/Pacifico.ttf");
    font-weight: normal;
    font-style: normal;
}

/*Reset*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Page Accueil*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: darkgray;
    color: firebrick;
}

header h1 {
    font-family: 'Pacifico',sans-serif;
    font-size: 3em;
    margin: 0;
}

header h2 {
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5em;
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: firebrick;
}

ul {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    font-family: 'Arial', sans-serif;
    height: 30px;
    align-items: center;
}

li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

#content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    width: 300px;
    margin: 30px;
    padding-bottom: 20px;
}

.product p {
    margin-top: 0;
}

.product h4 {
    margin-bottom: 10px;
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5em;
}

img {
    width: 300px;
    height: 200px;
}

footer {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: darkgray;
}

footer nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    font-family: 'Pacifico', sans-serif;
    color: firebrick;
    font-size: 1.5em;
}

footer nav p {
    margin: 0;
}

/*Page Produit*/

.product_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.product_detail p {
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

select {
    height: fit-content;
    margin-left: 10px;
}